###############################################################################
# Ansible Configuration
#
# Project: ansible-homelab
# Purpose: Global configuration for local development and CI.
###############################################################################

[defaults]

###############################################################################
# Inventory & Roles
###############################################################################

inventory = inventories/homelab/hosts.yml
roles_path = roles

###############################################################################
# Python
###############################################################################

interpreter_python = auto_silent

###############################################################################
# Connection
###############################################################################

host_key_checking = False
timeout = 30
forks = 10

###############################################################################
# Output
###############################################################################

stdout_callback = ansible.builtin.default
result_format = yaml
bin_ansible_callbacks = True

###############################################################################
# Performance
###############################################################################

gathering = smart
fact_caching = memory
pipelining = True

###############################################################################
# Behavior
###############################################################################

retry_files_enabled = False
deprecation_warnings = True
command_warnings = True
display_skipped_hosts = True
display_ok_hosts = True

###############################################################################
# Inventory
###############################################################################

[inventory]
enable_plugins = yaml

###############################################################################
# SSH
###############################################################################

[ssh_connection]

pipelining = True
scp_if_ssh = True
control_path = %(directory)s/%%h-%%r
