###############################################################################
# Ansible-managed OpenSSH configuration
#
# Manual changes will be overwritten.
###############################################################################

PermitRootLogin {{ common_sshd_permit_root_login }}
PasswordAuthentication {{ common_sshd_password_authentication }}
PubkeyAuthentication {{ common_sshd_pubkey_authentication }}
KbdInteractiveAuthentication no
PermitEmptyPasswords no

X11Forwarding {{ common_sshd_x11_forwarding }}

ClientAliveInterval {{ common_sshd_client_alive_interval }}
ClientAliveCountMax {{ common_sshd_client_alive_count_max }}

LoginGraceTime 30
MaxAuthTries 3
MaxSessions 10
LogLevel VERBOSE
